# build folders
build/
out/
**/build/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# user config
CMakeUserPresets.json

# visual studio
.vs/
*.sln
*.vcxproj*
*.user

# OS junk
.DS_Store
Thumbs.db